<br>
<div class="general-feed-container">
  <h1>What's your favourite tupper?</h1>
  <br>
  <div class="feed-container">
    {{#each posts}}
    <div class="food">
      <div class="food-post-details">
        <h2 class="food-post-title">{{this.title}}</h2>
        <br>
        <div class="food-post-text">
          <p><B>Expiration Date:</B>{{this.expiringDate}}</p>
          <p><B>Location:</B> {{this.pickUpPlace}}</p>
          <p><B>User:</B> {{this.creator.username}} </p>
          <form id="request-tupper-button" action="/auth/tupper-request" method="POST">
            <input type="hidden" name="post" value="{{this.posts}}">
        </div>
        <br>
        <button type="submit" class="button">I'll take it</button>
      </div>
      <img class="food-image" src="{{this.foodImage}}" alt="{{this.name}}">
      </form>
    </div>
    {{/each}}
  </div>
</div>