<br>
<div class="general-feed-container">
  <h1>Choose your Tupper for today</h1>
  <br>
  <div class="feed-container">
    {{#each posts}}
    {{#unless this.requested}}
    <div class="food">
      <div class="food-post-details">
        <h2 class="food-post-title">{{this.title}}</h2>
        <br>
        <div class="food-post-text">


          <p><B>Expiration Date: </B>{{this.expiringDate}} </p>
          <p><B>PickUp Time: </B> {{this.pickUpTime}}</p>
          <p><B>Location: </B> {{this.pickUpPlace}}</p>
          <p><B>Chef: </B> {{this.creator.username}} </p>
          <p><B>Description: </B> {{this.creator.description}} </p>
          <p><B>Alergies: </B> {{this.alergies}} </p>

        </div>
        <br>
        <form id="request-tupper-button" action="/post/tupper-request" method="POST">
          <input type="hidden" name="postId" value="{{this._id}}">
          <button type="submit" class="button">I'll take it</button>
        </form>
      </div>
      <img class="food-image" src="{{this.foodImage}}" alt="{{this.name}}">
    </div>
    {{/unless}}
    {{/each}}
  </div>
</div>