{{!-- this is a nav user to say hello, show image, and buttons available to create and edit profile --}}
<br>
<div class="general-feed-container">
    <div class="feed-container">
        <div class="nav-user">
            <br>
            <h1><img class="profile-image" src="{{user.profilePicture}}"> Hi, {{user.username}}</h1>
            <p>Here, you can <a href="/user/user-edit"> <button class="button"> Edit profile</button></a>
        </div>

        <br>
        {{!-- this is a div with general info user --}}
        {{!-- <div class="info-user">
            <p>Username : {{this.username}}</p>
            <p>e-mail : {{this.email}}</p>
            <p>About you: {{this.bio}}</p>
        </div> --}}

        <br>
        {{!-- this is a div TO SHOW USER POSTS --}}
        <div>

            <h2>Tuppers you shared :{{!-- horizontal scrolling → → → → → → → → --}} </h2><br>
            <div class="tuppers-shared">
                {{#each userPosts}}
                <div class="tupper-shared">
                    <h3>{{this.title}}</h3>
                    <img class="food-image" src="{{this.foodImage}}" alt="your shared tuppers">
                    <p><b></b></p>
                </div>
                {{/each}}
            </div>
        </div>

        <br>
        <hr>
        <br>
        {{!-- this is a div TO SHOW THE FOOD REQUIRED FROM OTHER USERS --}}
        <div class="tuppers-tuppered">
            <h2>All you have Tuppered :{{!-- horizontal scrolling → → → → → → → → --}} </h2><br>
            <img height="200px" width="200px"
                src="https://uvn-brightspot.s3.amazonaws.com/assets/vixes/btg/donde-esta-mi-hamburguesa-15-gifs-de-homero-disfrutando-el-placer-de-comer-4.gif"
                alt="">
        </div>
    </div>
</div>