
<br>
<div class="general-feed-container">
  <div class="post-form">
    <h2>Hi, {{user.username}} </h2>
    <br>
    <br>

    <form class="user-edit" action="/user/user-edit" method="POST" enctype="multipart/form-data">
      <div class="user-edit-container">

        <!-- The mail and username is Non-editable -->
        <p><strong>Username:</strong> {{user.username}}</p>
        <p><strong>Email:</strong> {{user.email}}</p>
        {{!-- <p><strong>Location:</strong> {{this.userlocation}}</p> --}}
        <br>
        <br>

        <!-- Display current user image -->
        <img class="profile-image" src="{{user.profilePicture}}" alt="Profile Picture"><br>
        <br>
        <!-- Input for a new image (if you want to allow image update) -->
        <input type="file" name="profilePicture" id="profilePicture">
        <br><br>
        {{!-- <!-- Editable username -->
        <label for="username"><strong>Username:</strong></label><br>
        <textarea id="username" name="username">{{this.username}}</textarea>
        <br><br> --}}

        <!-- Editable location -->
        <label for="userlocation"><strong>Location:</strong></label><br>
        <br>
        <textarea id="location" name="location">{{user.location}}</textarea>
        <br><br>

        <!-- Editable bio -->
        <label for="bio"><strong>Your bio:</strong></label><br>
        <br>
        <textarea id="bio" name="bio">{{user.bio}}</textarea>
        <br>
        <br><br>
        <button class="button" type="submit"><strong>SAVE</strong></button>
      </div>
    </form>
  </div>
</div>