{{!-- this is a nav user to say hello, show image, and buttons available to create and edit profile --}}
<br>
<div class="general-feed-container">
    <div class="feed-container">
        <div class="nav-user">
            <br>
            <h1>Hi, {{user.username}} 👋</h1> <br>
            <h2><img class="profile-image" src="{{user.profilePicture}}" alt="{{user.username}}"></h2> <br>
            <p><strong>Username:</strong> {{user.username}}</p>
            <p><strong>Email:</strong> {{user.email}}</p>
            <p><strong>Location:</strong> {{user.location}}</p>
            <p><strong>Bio:</strong> {{user.bio}}</p>
            <br>
            <br>
            <p><a href="/user/user-edit"> <button class="button"> Edit profile</button></a>
        </div>

        <br>
        <div>
            <div class="tuppers-shared">
                {{#each userPosts}}
                <div class="tupper-shared">
                    <h2 class="nav-elements"> Your shared Tuppers :</h2><br>
                    <h3>{{this.title}}</h3>
                    <img class="food-image" src="{{this.foodImage}}" alt="your shared tuppers">
                    <p> <strong>Expiring Date:</strong> {{this.expiringDate}} </p>
                    <p> <strong>Location:</strong> {{this.pickUpPlace}} </p>
                    {{#if this.requested}}
                    <p>Requested by:<b>{{this.requestedBy.username}}</b></p>
                    <form id="request-tupper-button" action="/post/tupper-to-delete" method="POST">
                        <input type="hidden" name="postId" value="{{this._id}}">
                        <button type="submit" class="button">DELIVERED!</button>
                    </form>
                    {{/if}}
                </div>
                {{/each}}
            </div>
        </div>
        <br>
        <hr>
        <br>

        <div class="tupper-shared">
            <h2 class="nav-elements">All you have Tuppered :</h2><br>
            {{#each userRequests}}
            {{#if this.title}}
            <h3>{{this.title}}</h3>
            <img height="200px" width="200px" src="{{this.foodImage}}" alt="You Tuppered this post">
            <p> <strong>You picked up at:</strong> {{this.pickUpPlace}} | {{this.pickUpTime}} </p>
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>