{{!-- this is a nav user to say hello, show image, and buttons available to create and edit profile --}}
<br>
<div class="general-feed-container">
    <div class="feed-container">
        <div class="nav-user">
            <br>
            <h1><img class="profile-image" src="{{user.profilePicture}}" alt="{{user.username}}"> Hi, {{user.username}}</h1>
            <p>Here, you can <a href="/user/user-edit"> <button class="button"> Edit profile</button></a>
        </div>

        <br>
        <br>

        <div>

            <h2>Tuppers you shared :</h2><br>
            <div class="tuppers-shared">
                {{#each userPosts}}
                <div class="tupper-shared">
                    <h3>{{this.title}}</h3>
                    <img class="food-image" src="{{this.foodImage}}" alt="your shared tuppers">
                    {{#if this.requested}}
                    <p>Requested by:<b>{{this.requestedBy.username}}</b></p>
                    <form id="request-tupper-button" action="/post/tupper-to-delete" method="POST">
                        <input type="hidden" name="postId" value="{{this._id}}">
                        <button type="submit" class="button">DELIVERED</button>
                    </form>
                    {{/if}}
                </div>
                {{/each}}
            </div>
        </div>

        <br>
        <hr>
        <br>
        
        <div class="tuppers-tuppered">
            <h2>All you have Tuppered :</h2><br>
            {{#each userRequests}}  
            {{#if this.title}}
            <h4>{{this.title}}</h4>
            <img height="200px" width="200px"
                src="{{this.foodImage}}"
                alt="You Tuppered this post">
                {{/if}}
            {{/each}}
        </div>
    </div>
</div>